PICA_B2C.ServiceAgent.MainModule/Service References/wsProductsReference/ws_productos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://servicioomsproductos.kallsonys.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ws_productos" targetNamespace="http://servicioomsproductos.kallsonys.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ServicioOMSProductos/ws_productos?xsd=1" namespace="http://servicioomsproductos.kallsonys.com/" />
    </xsd:schema>
  </types>
  <message name="consultarPRODUCTOS_DESCRIPCION">
    <part name="parameters" element="tns:consultarPRODUCTOS_DESCRIPCION" />
  </message>
  <message name="consultarPRODUCTOS_DESCRIPCIONResponse">
    <part name="parameters" element="tns:consultarPRODUCTOS_DESCRIPCIONResponse" />
  </message>
  <message name="consultarPRODUCTOS_LISTA">
    <part name="parameters" element="tns:consultarPRODUCTOS_LISTA" />
  </message>
  <message name="consultarPRODUCTOS_LISTAResponse">
    <part name="parameters" element="tns:consultarPRODUCTOS_LISTAResponse" />
  </message>
  <message name="consultarPRODUCTOS_ID">
    <part name="parameters" element="tns:consultarPRODUCTOS_ID" />
  </message>
  <message name="consultarPRODUCTOS_IDResponse">
    <part name="parameters" element="tns:consultarPRODUCTOS_IDResponse" />
  </message>
  <message name="consultarPRODUCTOS_NOMBRE">
    <part name="parameters" element="tns:consultarPRODUCTOS_NOMBRE" />
  </message>
  <message name="consultarPRODUCTOS_NOMBREResponse">
    <part name="parameters" element="tns:consultarPRODUCTOS_NOMBREResponse" />
  </message>
  <portType name="ws_productos">
    <operation name="consultarPRODUCTOS_DESCRIPCION">
      <input wsam:Action="http://servicioomsproductos.kallsonys.com/ws_productos/consultarPRODUCTOS_DESCRIPCIONRequest" message="tns:consultarPRODUCTOS_DESCRIPCION" />
      <output wsam:Action="http://servicioomsproductos.kallsonys.com/ws_productos/consultarPRODUCTOS_DESCRIPCIONResponse" message="tns:consultarPRODUCTOS_DESCRIPCIONResponse" />
    </operation>
    <operation name="consultarPRODUCTOS_LISTA">
      <input wsam:Action="http://servicioomsproductos.kallsonys.com/ws_productos/consultarPRODUCTOS_LISTARequest" message="tns:consultarPRODUCTOS_LISTA" />
      <output wsam:Action="http://servicioomsproductos.kallsonys.com/ws_productos/consultarPRODUCTOS_LISTAResponse" message="tns:consultarPRODUCTOS_LISTAResponse" />
    </operation>
    <operation name="consultarPRODUCTOS_ID">
      <input wsam:Action="http://servicioomsproductos.kallsonys.com/ws_productos/consultarPRODUCTOS_IDRequest" message="tns:consultarPRODUCTOS_ID" />
      <output wsam:Action="http://servicioomsproductos.kallsonys.com/ws_productos/consultarPRODUCTOS_IDResponse" message="tns:consultarPRODUCTOS_IDResponse" />
    </operation>
    <operation name="consultarPRODUCTOS_NOMBRE">
      <input wsam:Action="http://servicioomsproductos.kallsonys.com/ws_productos/consultarPRODUCTOS_NOMBRERequest" message="tns:consultarPRODUCTOS_NOMBRE" />
      <output wsam:Action="http://servicioomsproductos.kallsonys.com/ws_productos/consultarPRODUCTOS_NOMBREResponse" message="tns:consultarPRODUCTOS_NOMBREResponse" />
    </operation>
  </portType>
  <binding name="ws_productosPortBinding" type="tns:ws_productos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="consultarPRODUCTOS_DESCRIPCION">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarPRODUCTOS_LISTA">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarPRODUCTOS_ID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="consultarPRODUCTOS_NOMBRE">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ws_productos">
    <port name="ws_productosPort" binding="tns:ws_productosPortBinding">
      <soap:address location="http://localhost:8080/ServicioOMSProductos/ws_productos" />
    </port>
  </service>
</definitions>